vendor
vendor2
.
vendor2
env
node_modules
build
dist
compiled
.idea
composer.lock
99envios.zip
99envios/pages/images/
/pages/images/

node_modules
build
dist
compiled
.idea
composer.lock
99envios.zip
99

node_modules
build
dist
compiled
.idea
composer.lock

node_modules
build
dist
compiled
.idea

node_modules
build
dist
compiled

node_modules
build

node_modules
# Ignorar archivos de imagen
*.png
*.jpg
*.jpeg

*.png
*.jpg

*.png